.headerContainer{
    display: flex;
   /* background-image: url(); */
    background-color: #ffff;
    box-shadow: 0 2px 18px 0 rgba(129, 162, 182, .2);
    height: 72px;
/* 
    position: relative; */
}
.titleContainer{
    cursor: pointer;
    height: 70px;
    width: 60px;
    display: flex;
    background-color: red;

}
.title{ 
    background-color: red;
    margin-left: 10px;
}

.imgConatiner{
    height: 50px;
    width: 50px;
    fill:  black;
}
.PrimaryButton{
align-content: center;
text-align: center;
    height: 45px;
    width: 160px;
    background-color: blue;
    border-radius: 25px;
}
.PrimaryButtonLabel{
font-size: 18px;
color: #ffff;
}
.deviceOptionContainer{
   flex: 1; 
   display: flex;
}
.websiteTitle{
    display: flex;
    flex: 1;
}