.Container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    
  }
  
  .Header {
    display: flex;
    height: 80px; /* Fixed height for the header */
    
  }
  
  .Container2 {
    display: flex; /* This ensures a row layout */
    flex: 1; /* Takes up remaining space after the header */
    
    overflow: hidden; /* Prevents overflow and scrolling */
  }
  
  .Container3, .bg-secondary {
    flex: 1; /* Ensures both columns (children) take up equal width */
    display: flex; /* Optional: If you want content inside to align in a certain way */
    color: white;
  }
  
  .Container3 {
    
  }
  
  .bg-secondary {
    
  }
  .imagestyle{
    height: 80px;
    width: 80px;
  }
  .IconStyle1{
    height: 30px;
    width: 30px;
  }
  .IconConatiner{
    height: 100px;
    width: 100px;
justify-content: space-between;
/* background-color: brown; */
  }
  .HeaderContainer1 {
    height: 25px;
    border: 0.1px solid #A6B9C7; /* Full border */
    border-right-width: 0.1px; /* Overriding right border width */
    align-self: center;
}
.primaryButton{
    display: flex;
    height: 40px;
    width: 150px;
    border-radius: 30px;
    background-color: blue;
   justify-content: center;
   align-items: center;
   margin-right: 20px;

}
.primaryButtontext{
    color: white;
}

.HeaderContainer2{
  /* background-color: red; */
flex: 1;
justify-content: flex-end;
}
.PrimaryButtonContainer{
  display: flex;
  /* background-color: aqua; */
 align-items: center;
}
.condentContainer{
  justify-content:space-around;
  /* background-color: blueviolet; */
  flex: 1;
  align-items: center;
}
.ListContainer{
  height: 100px;
}
.ListChildContainer{
}
.ListChildContainer2{
} 

.ListContainer3{
  justify-content: space-around;
 flex: 1;
 align-items: center;

}
.CartImage{
  height:25px ;
  width: 25px;
}
.LoginContainer{
  width: 180px;
display: flex;
justify-content: space-around;
align-items: center;
  
}
.LoginButton{
}
  .LoginButtonStyle{
    height: 30px;
    width: 80px;
    background-color: white;
    border: none;
  }
  .ParagraphConatiner{
justify-self: center;
 align-content: center;
  }