.Container{
    height: 100vh;
    width: 100vw;
}
.OptionListHeader{
    display: flex;
    height: 100px;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
}
.optionlist1{
    height: 100px;
    width: 150px;
    border-color: black;
    margin-left: 10px;
    display: flex;
   
}
.optionlist1Text1{
    text-align: right;
    font-size: 40px;
}
.optionlist1Text2{
    font-size: 20px;
    line-height: 1em
}
.optionlistContainer1{
    flex:1;
}
.optionlistContainer2{
    flex:1;
    display: flex;
}
.optionlistContainer2TextBox{
    width: 139px;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    visibility: inherit;

}
.optionlistContainer2TextBoxText{
    text-align: center;
    line-height: 50px;
}
.LoginContainer{
height: 100px;
width: 50px;
}
.cartImageStyle{
    height: 30px;
    width: 30px;
  align-self: center;
}
.loginandcartContainer{
    width: 100px;
    height: 50px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    visibility: inherit;
   justify-items: center;
}
.loginTextStyle{
    text-align: center;
    line-height: 50px;
}
.imageStyle1{
    width: 847px;
    height: 608px;
left: 2px;
}
.imagebackgroundContainer{
    height: 90vh;
position: absolute;
right: 1px;
width: 960px;
    background-color:#cbdbc5 ;
}
.imageandcontentcontainer{
    display: flex;
    flex: 1;
    position: relative;
}
.imagestylecontainer{
    width: 870px;
    height: 650px;
    display: flex;
    left: 200px;
    right: 0px;
    top:80px;
    object-fit: cover;
    position: absolute;
align-items: center;
    background-color: white;
}
.conetntConatiner{
    top: 100px;
    height: 400px;
    width: 400px;
    background-color: #e8e6e5;
}
.conetntConatinerParent{
    height: 600px;
    width: 450px;
    z-index: 1;
    position: absolute;
justify-content: center;
align-items: flex-end;
display: flex;

}
.textStyle{
    font-size: 55px;
    text-transform:uppercase;
    letter-spacing: normal;
}
.conetntConatinerParent1{
    height: 450px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}